.item{
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  flex-direction: row;
  align-items: center;
}
input {
  margin-left: 95%;
  border-radius: 60px;
  width: 20px;
  height: 20px;
}
.close{
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: red;
  margin-left: auto;
  color: white;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
