<ul class="list-group">
    <app-list-item
    *ngFor='let todo of todos$ | async '
    [item]='todo'
    (tdRemove)="removeTodo($event)"

    ></app-list-item>
</ul>
<div>
  <label style='width: 100px;'>ADD TASK : </label>
  <input class="form-control" type="text" #todo>
</div>
<br/>
<button  class='btn' (click)="addTodo(todo.value); todo.value=''">+</button>
