.btn{
  background-color: rgb(0, 89, 255);
  font-size: 25px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin-left: 42%;
}
.btn:hover{
  opacity: 0.8;
}
input{
  margin: 0 auto;
}
.list-group{
  border: 1px solid #ccc;
  border-radius: 7px;
}
.item{
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  flex-direction: row;
  align-items: center;
}
input {
  border-radius: 20px;
}
